<div class="post">
  <header>
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </header>
  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, asperiores debitis facilis ipsa necessitatibus non
      rerum sit tempora temporibus ut?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, asperiores debitis facilis ipsa necessitatibus non
      rerum sit tempora temporibus ut?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, asperiores debitis facilis ipsa necessitatibus non
      rerum sit tempora temporibus ut?</p>
  </div>
</div>
